<h1>Welcome to RoarJam</h1>
<h2>Keeping you updated with live houses events and art shows. This site is a simple application for <a href="http://www.baserails.com">Baserails</a>, a platform that teaches people to write awesome custom websites with the Ruby on Rails programming language. Sign up and start learning today!</h2>



